---
layout:  generic_collection_item
image_viewer: 'openseadragon'
pagination: true
meta:
  - label: 'Pid'
    value: page.pid
  - label: 'Identifier'
    value: page.identifier
  - label: 'Title'
    value: page.title
  - label: 'Description'
    value: page.description
  - label: 'Creator'
    value: page.creator
  - label: 'Contributor'
    value: page.contributor
  - label: 'Source'
    value: page.Source
  - label: 'Source'
    value: page.source
  - label: 'Date'
    value: page._date
  - label: 'Language'
    value: page.language
  - label: 'Type'
    value: page.type
  - label: 'Format'
    value: page.format
  - label: 'Format_2'
    value: page.format_2
  - label: 'Relation'
    value: page.relation
  - label: 'Coverage'
    value: page.coverage
  - label: 'Subject'
    value: page.subject
  - label: 'Rights'
    value: page.rights
  - label: 'IIIF Manifest'
    value: page.manifest

---
